@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/Open_Sans/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Volkhov";
  src: url("../assets/fonts/Volkhov/Volkhov-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  margin: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 250px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.scrolled {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .logo img {
  width: fit-content;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 60px;
}

nav a {
  color: #181e4b;
  text-decoration: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  transition: color 0.1s ease-in-out;
}

nav span {
  color: #181e4b;
  text-decoration: none;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 30px;
}

nav a:hover {
  color: #f1a501;
}

nav .sign-up {
  border: 3px solid #181e4b;
  padding: 8px 24px;
  border-radius: 8px;
  transition: padding 0.1s ease-in-out;
}

nav .sign-up:hover {
  border: 3px solid #f1a501;
}

.dropdown {
  border: 3px solid #181e4b;
  width: 200px;
  border-radius: 10px;
  padding: 8px 0px;
  position: absolute;
  top: 100px;
  right: 100px;
  background-color: #ffffff;
  display: none;
  z-index: 2;
}

.dropdown ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0px 10px;
}

.dropdown ul img {
  width: 20px;
  height: 20px;
}

.dropdown li {
  display: flex;
  gap: 30px;
  padding: 14px 28px;
  border-radius: 5px;
}

.dropdown li:hover {
  background-color: #181e4b44;
  cursor: pointer;
}

.dropdown li:nth-child(1) {
  border-bottom: 1px solid #181e4b;
  border-radius: 0px;
}

.dropdown li:nth-child(2) {
  border-bottom: 1px solid #181e4b;
  border-radius: 0px;
}

.dropdown li:nth-child(3) {
  border-bottom: 1px solid #181e4b;
  border-radius: 0px;
}

.dropdown li:nth-child(4) {
  border-bottom: 1px solid #181e4b;
  border-radius: 0px;
}

.dropdown li span {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #181e4b;
}

.menu {
  border: 1px solid #181e4b;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  cursor: pointer;
}

.site-container {
  background-image: url(../assets/images/Decore.png);
  background-repeat: no-repeat;
  background-size: 100% 80vh;
  padding: 150px 300px 10px 300px;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.intro-container {
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 100px;
  width: 100%;
  position: relative;
}

.intro-heading {
  width: 40%;
  margin-top: 60px;
}

.intro-heading h4 {
  text-transform: uppercase;
  font-family: "Volkhov", sans-serif;
  color: #df6951;
  font-size: 16px;
}

.intro-heading h1 {
  font-family: "Volkhov", sans-serif;
  font-size: 80px;
  margin-top: -10px;
  color: #181e4b;
  line-height: 80px;
}

.intro-heading p {
  font-family: "Poppins", sans-serif;
  margin-top: -60px;
  color: #5e6282;
  font-size: 20px;
}

.intro-button-container {
  margin-top: 26px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.intro-button-container button {
  cursor: pointer;
  opacity: 0.9;
}

.intro-button-container button:hover {
  opacity: 1;
}

.intro-button-container button:nth-child(1) {
  border: none;
  background-color: #f1a501;
  color: #ffffff;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  padding: 16px 26px;
  border-radius: 8px;
}

.intro-button-container button:nth-child(2) {
  border: none;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #5e6282;
}

.intro-button-container button:nth-child(2) i {
  background-color: #df6951;
  padding: 16px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 12px;
  margin-right: 5px;
}

.intro-image-container {
  width: 44%;
  z-index: 900;
}

.intro-image {
  width: 100%;
  height: 660px;
}

.image-embed img:nth-child(1) {
  display: none;
}

.image-embed img:nth-child(2) {
  position: absolute;
  top: 270px;
  right: 300px;
}

.image-embed img:nth-child(3) {
  position: absolute;
  top: 200px;
  right: 750px;
}

.category-heading {
  text-align: center;
}

.category-heading p {
  font-size: 20px;
  text-transform: uppercase;
  color: #5e6282;
  font-family: "Poppins", sans-serif;
}

.category-heading h1 {
  font-size: 60px;
  margin-top: -10px;
  font-family: "Volkhov", sans-serif;
  color: #181e4b;
}

.category-items-container {
  display: flex;
  justify-content: center;
  column-gap: 60px;
  row-gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 360px;
  position: relative;
  padding: 42px;
  border-radius: 40px;
  cursor: pointer;
}

.category-item:hover {
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.category-item img {
  width: fit-content;
}

.category-item-text {
  text-align: center;
}

.category-item-text h5 {
  color: #181e4b;
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
}

.category-item-text p {
  margin-top: -20px;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
}

.category-img-deco1 {
  background-color: #f1a501;
  width: 60px;
  height: 60px;
  opacity: 0.2;
  position: absolute;
  right: 56px;
  top: 76px;
  z-index: -1;
  border-bottom-right-radius: 26px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

.category-img-deco2 {
  background-color: #f1a501;
  width: 60px;
  height: 50px;
  opacity: 0.2;
  position: absolute;
  left: 94px;
  top: 40px;
  z-index: -1;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 12px;
}

.category-img-deco3 {
  background-color: #f1a501;
  width: 60px;
  height: 60px;
  opacity: 0.2;
  position: absolute;
  right: 70px;
  top: 28px;
  z-index: -1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 26px;
}

.category-img-deco4 {
  background-color: #f1a501;
  width: 60px;
  height: 60px;
  opacity: 0.2;
  position: absolute;
  right: 74px;
  top: 74px;
  z-index: -1;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 12px;
}

.category-item:hover .category-item-hover-deco {
  background-color: #df6951;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -30px;
  left: -40px;
  z-index: -1;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 10px;
}

.destinations-heading {
  text-align: center;
}

.destinations-heading p {
  font-size: 20px;
  color: #5e6282;
  font-family: "Poppins", sans-serif;
}

.destinations-heading h1 {
  font-size: 60px;
  margin-top: -10px;
  font-family: "Volkhov", sans-serif;
  color: #181e4b;
}

.destinations-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}

.destinations-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.1s ease;
}

.destinations-item:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.destinations-item img {
  width: fit-content;
}

.destinations-item-text {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 100%;
  margin-top: -130px;
  height: 150px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 16px 20px;
}

.destinations-item-text span {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  margin-left: 10px;
  color: #5e6282;
}

.destination-item-text-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.destination-item-text-main p {
  font-family: "Poppins", sans-serif;
  color: #5e6282;
}

.booking-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  flex-wrap: wrap;
}

.booking-main-content {
  width: 45%;
}

.booking-heading p {
  font-size: 20px;
  color: #5e6282;
  font-family: "Poppins", sans-serif;
}

.booking-heading h1 {
  font-size: 60px;
  margin-top: -10px;
  font-family: "Volkhov", sans-serif;
  color: #181e4b;
}

.booking-items-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.booking-item {
  display: flex;
  align-items: start;
  gap: 26px;
  width: 450px;
}

.booking-item .booking-item-icon {
  padding: 10px;
  border-radius: 14px;
  margin-top: 5px;
}

.booking-item:nth-child(1) .booking-item-icon {
  background-color: #f1a501;
}

.booking-item:nth-child(2) .booking-item-icon {
  background-color: #df6951;
}

.booking-item:nth-child(3) .booking-item-icon {
  background-color: #5e6282;
}

.booking-item-text h4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #5e6282;
  margin: 0px;
}

.booking-item-text p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #5e6282;
  margin-top: 2px;
}

.booking-image-content {
  width: 40%;
}

.card {
  box-shadow: 0px 0px 10px 10px rgba(98, 70, 229, 0.1);
  padding: 26px;
  border-radius: 26px;
  position: relative;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.card-content {
  margin-top: 26px;
}

.card-content-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-content-text .card-text-title {
  color: #000000;
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.card-content-text .card-text-subtitle {
  color: #5e6282;
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.card-content-footer {
  margin-top: 34px;
}

.card-icon-group {
  display: flex;
  gap: 16px;
}

.card-icon-group i {
  background-color: #5e62821e;
  padding: 14px;
  border-radius: 50%;
  color: #5e6282cd;
}

.card-footer-content {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
}

.card-footer-text i {
  color: #5e6282cd;
}

.card-footer-text span {
  color: #5e6282;
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  margin-left: 10px;
}

.card-footer-content span i {
  color: #6246e5;
  font-size: 26px;
}

.card-overlay {
  position: absolute;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0px 4px 0px 4px rgba(98, 70, 229, 0.1);
  display: flex;
  gap: 16px;
  border-radius: 20px;
  bottom: 54px;
  left: 260px;
}

.card-overlay img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.card-overlay-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-overlay-content .card-overlay-content-subtitle {
  color: #5e6282;
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.card-overlay-content .card-overlay-content-title {
  color: #000000;
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.card-overlay-content-footer {
  margin-top: 16px;
}

.card-overlay-content-footer .progress-title {
  font-size: 16px;
  color: #000000;
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-overlay-content-footer .progress-title span {
  color: #6246e5;
}

.card-overlay-content-footer .progress-bar-container {
  background-color: #5e62821e;
  width: 230px;
  border-radius: 20px;
}

.card-overlay-content-footer .progress-bar-container .progress-bar {
  background-color: #6246e5;
  padding-top: 10px;
  width: 40%;
  border-radius: 20px;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  flex-wrap: wrap;
}

.testimonial-header {
  width: 40%;
}

.testimonial-heading p {
  font-size: 20px;
  color: #5e6282;
  font-family: "Poppins", sans-serif;
}

.testimonial-heading h1 {
  font-size: 60px;
  margin-top: -10px;
  font-family: "Volkhov", sans-serif;
  color: #181e4b;
}

.testimonial-dots {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}

.testimonial-dots .dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.testimonial-dots .dot.active {
  background-color: #555; /* Darker dot for active state */
}

.testimonial-main-content {
  width: 50%;
}

.testimonial-card-container {
  margin-top: 90px;
  position: relative;
}

.testimonial-card {
  width: 90%;
  background-color: #ffffff;
  box-shadow: 2px 4px 0px 0px rgba(98, 70, 229, 0.1);
  padding: 30px;
  border-radius: 30px;
}

.testimonial-card img {
  position: absolute;
  top: -50px;
  left: -30px;
}

.testimonial-main-content {
  width: 600px;
  position: relative;
}

.testimonial-card-main-text {
  font-family: "Poppins", sans-serif;
  color: #5e6282;
  font-size: 20px;
}

.testimonial-card-text-footer {
  margin-top: 50px;
}

.testimonial-card-text-footer p:nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #5e6282;
  margin: 0;
}

.testimonial-card-text-footer p:nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #5e6282;
  margin: 0;
}

.testimonial-card.inactive {
  position: absolute;
  top: 90px;
  left: 70px;
  z-index: -1;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  border: 3px solid #f5f5f5;
}

.testimonial-card.inactive .testimonial-card-main-text {
  opacity: 0;
}

.testimonial-card-switch {
  position: absolute;
  top: 60%;
  right: -100px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.testimonial-card-switch div {
  cursor: pointer;
}

.testimonial-card-switch i {
  font-size: 30px;
  color: #ccc;
}

.testimonial-card-switch i.active {
  color: #555;
}

.brand-section {
  padding: 150px 300px;
}

.brand-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  flex-wrap: wrap;
}

.brand-container .image-container {
  width: 220px;
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: transform 0.1s ease;
}

.brand-container .image-container:hover {
  box-shadow: 0px 8px 0px 0px rgba(98, 70, 229, 0.1);
  transform: scale(1.2);
}

.brand-container img {
  width: 120px;
  object-fit: contain;
  margin: auto;
}

.newsletter-section {
  padding: 30px 400px;
}

.newsletter-container {
  background-image: linear-gradient(to left bottom, #e8f5ff, #f4f4ff);
  padding: 80px;
  border-radius: 100px 10px 10px 10px;
  position: relative;
}

.newsletter-heading {
  text-align: center;
}

.newsletter-heading p {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  width: 64%;
  margin: auto;
  color: #5e6282;
}

.newsletter-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 60%;
  margin: auto;
  padding-top: 80px;
}

.input-container {
  background-color: #ffffff;
  width: 65%;
  padding: 20px 36px;
  border-radius: 10px;
  position: relative;
  margin: 0;
}

.input-container input {
  width: 100%;
  height: 40px;
  border: none;
  padding: 0px 20px;
  color: #5e6282;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.input-container input::placeholder {
  color: #555;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.input-container input:focus {
  outline: none;
}

.input-container i {
  position: absolute;
  left: 22px;
  top: 30px;
  font-size: 20px;
  color: #555;
}

.newsletter-form-container button {
  background-image: linear-gradient(to left top, #ff7d68, #f1a5016d);
  border: none;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 24px 60px;
  border-radius: 10px;
  cursor: pointer;
}

.newsletter-overlay-image {
  position: absolute;
  top: -20px;
  right: -20px;
}

.footer-main {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 110px;
  width: 100%;
  flex-wrap: wrap;
}

.footer-main .brand-container {
  width: 260px;
  margin: 0;
  padding: 0;
}

.footer-main .brand-container h1 {
  margin: 0;
  font-size: 74px;
  font-family: "Poppins", sans-serif;
  color: #181e4b;
}

.footer-main .brand-container p {
  margin-top: -28px;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
}

.footer-main ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
}

.footer-main ul .list-header {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: #000000;
  margin-bottom: 20px;
}

.footer-main ul li a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
}

.footer-main ul li a:hover {
  color: #f1a501;
}

.footer-main .more-items-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 60px;
}

.footer-main .more-items-container .social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.footer-main .more-items-container .social-container i {
  background-color: #ffffff;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  color: #000000;
}

.footer-main .more-items-container .social-container i:nth-child(2) {
  background-image: linear-gradient(#6246e5, #df6951, #f1a501);
  color: #ffffff;
}

.footer-main .download-store-container p {
  margin: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #5e6282;
}

.footer-main .download-store-container .download-store-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

footer .copyright {
  margin-top: 100px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
}

.offcanvas {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2000;
  right: 0;
  width: 50%;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  display: none;
  box-shadow: 0px 4px 20px 0px rgba(98, 70, 229, 0.1);
}

.offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offcanvas-header .cancel {
  border: 1px solid #181e4b;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.offcanvas ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  padding: 0;
  margin-top: 70px;
}

.offcanvas ul li {
  width: 100%;
  height: 90px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  border: 1px solid #5e62821e;
  cursor: pointer;
}

.offcanvas ul li:hover {
  background-color: #f1a50188;
}

.offcanvas ul li a {
  text-decoration: none;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: #5e6282;
}

@media screen and (max-width: 1650px) {
  nav {
    padding: 50px;
  }
  nav ul {
    display: none;
  }

  .menu {
    display: block;
  }

  .intro-heading h1 {
    line-height: 70px;
    margin-bottom: 70px;
  }

  .booking-image-content {
    width: 40%;
  }

  .testimonial-header {
    width: 1000px;
  }

  .testimonial-section {
    padding: 150px 190px;
  }

  .testimonial-container {
    gap: 60px !important;
  }

  .testimonial-header {
    width: 40% !important;
  }

  .testimonial-main-content {
    width: 60%;
  }

  .newsletter-form-container {
    width: 100%;
    flex-wrap: wrap;
  }

  .input-container {
    width: 100%;
  }

  .newsletter-form-container button {
    width: 100%;
  }

  .newsletter-section {
    padding: 30px 200px;
  }

  .footer-main .brand-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-main .brand-container p {
    text-align: center;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1220px) {
  .site-container {
    padding: 150px 100px;
  }
  .booking-image-content {
    width: 46%;
  }
}

@media screen and (max-width: 1400px) {
  .booking-main-content {
    width: 100% !important;
  }

  .booking-heading {
    text-align: center;
    padding: 0px 30px;
  }

  .booking-items-container {
    align-items: center;
  }

  .booking-image-content {
    width: fit-content;
  }

  .testimonial-section {
    padding: 150px 0px;
  }

  .testimonial-header {
    width: 100% !important;
    text-align: center;
  }

  .testimonial-dots {
    justify-content: center;
  }

  .testimonial-main-content {
    width: 100%;
  }

  .testimonial-card {
    width: 100%;
  }

  .testimonial-card-switch {
    right: -120px !important;
  }
}

@media screen and (max-width: 1220px) {
  .site-container {
    padding: 100px 80px;
  }
  .intro-image {
    display: none;
  }

  .intro-heading {
    width: 100%;
  }

  .intro-container h4 {
    text-align: center;
  }

  .intro-heading h1 {
    text-align: center;
  }

  .intro-heading p {
    text-align: center;
    line-height: 40px;
  }

  .intro-button-container {
    justify-content: center;
  }

  .image-embed img:nth-child(2) {
    top: 650px !important;
    right: 120px;
  }

  .image-embed img:nth-child(3) {
    top: 80px !important;
    left: 200px;
  }

  .booking-main-content {
    width: 100% !important;
  }

  .card-overlay {
    display: none;
  }

  .newsletter-section {
    padding: 30px 100px;
  }

  .footer-main {
    gap: 20px;
  }
}

@media screen and (max-width: 1850px) {
  .intro-heading h1 {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 60px;
  }

  .intro-image {
    height: 540px;
  }

  .testimonial-container {
    gap: 52px;
  }

  .testimonial-header {
    width: 39%;
  }

  .testimonial-main-content {
    width: 50%;
  }

  .newsletter-form-container {
    width: 80%;
  }
}

@media screen and (max-width: 800px) {
  .testimonial-main-content {
    width: 70%;
  }
  .intro-section {
    padding: 100px 50px !important;
  }

  .intro-heading p {
    width: 100%;
    text-align: center;
  }
  .newsletter-container {
    padding: 50px 10px;
  }

  .footer-main {
    gap: 0px;
  }

  .site-container {
    padding: 60px 10px 10px 10px;
  }

  .destinations-heading h1 {
    font-size: 50px;
  }

  .category-heading h1 {
    font-size: 50px;
  }

  .booking-heading h1 {
    font-size: 50px;
  }

  .testimonial-heading h1 {
    font-size: 50px;
  }

  nav {
    padding: 40px 10px;
  }

  .booking-item-text {
    width: 70% !important;
    text-align: center;
  }

  .testimonial-card-switch {
    display: none;
  }

  .testimonial-card {
    width: 100%;
    padding: 16px;
  }

  .testimonial-card img {
    display: none;
  }
  .testimonial-main-content {
    width: 100%;
  }
  .testimonial-card.inactive {
    left: 0px !important;
  }

  .newsletter-overlay-image {
    display: none;
  }

  .offcanvas {
    width: 80%;
  }
}
